@use "templates/all"
@use "resume-preview"
@use "components/sortableList"

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap')

body
    box-sizing: border-box
    margin: 0
    font-family: 'Open Sans', sans-serif
    background: #fbf6f6 !important


h1, h2, h3, h4, h5, h6
    font-family: 'Josefin Sans', sans-serif

*
    box-sizing: inherit
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@page
  margin: 0