.page-preview-source
  width: 0
  height: 0
  overflow: hidden

$seperator-height: 2px

@mixin blur-shadow ($color)
  box-shadow: 0 8px 30px $color, 0 4px 30px $color

@media screen
  .generated-preview > *
    margin: auto
    margin-bottom: 40px
    @include blur-shadow(rgba(103, 151, 255, 0.11))
    border: solid 1px lightgray

.pdf-renderer
  .paper-a4
    max-width: 100%
    width: 210mm
    height: auto
  .paper-letter
    max-width: 100%
    width: 215.9mm
    height: auto