.page-preview-source
  width: 0
  height: 0
  overflow: hidden

$seperator-height: 2px

@mixin blur-shadow ($color)
  box-shadow: 0 8px 30px $color, 0 4px 30px $color

@media screen
  .generated-preview > *
    margin: auto
    margin-bottom: 40px
    @include blur-shadow(rgba(103, 151, 255, 0.11))
    border: solid 1px lightgray

.page-A4
  height: 297mm
  width: 210mm

//.pdf-renderer
//  canvas
//    max-width: 215.9mm

.pdf-renderer
  .paper-a4
    height: 297mm
    width: 210mm
  .paper-letter
    height: 279.4mm
    width: 215.9mm